* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
}

body {
    height: 100vh;

    #__next {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 'header' 'main';

        header {
            grid-area: header;
        }

        main {
            grid-area: main;
            display: flex;
            overflow: auto;
            padding: 1.5rem 2.5rem;
        }
    }

}
